

.titulo{
    text-align: center; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 30px; 
    color: #EBD758; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68, 6px 6px #414D68, 7px 7px #414D68, 8px 8px #414D68, 9px 9px #414D68;
    }
#button{
    padding: 0;
}

@media screen and (max-width: 650px) {
    .nombre, .apellido, .categoria, .telefono,.edad, .pie {
      width: 100%;
      margin-top: 0;
    }
  }


#button li{
    display: inline;
}

#button li a{
    font-family: Arial;
    font-size: 11px;
    text-decoration: none;
    float: left;
    padding: 10px;
    background-color: #2175bc;
    color: #fff;
}
 
label {
    float: left;
    width: 200px;
    padding-right: 24px;
}
 

button{}

.pie {
  text-align: center;
  /* IMPORTANTE */
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

select {
    float: left;
    width: calc(80% - 200px);
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(27, 29, 173);
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  #salir{
      float: right;
  }


  #container { border: 4px solid darkblue; border-radius: 25px; padding: 30px;
    /*center the container*/ width: 960px; margin: 0 auto; }
    #Name { /* For Later Use */ }
    #Telefono { /* For Later Use */ }
    #namesTable tr:nth-child(even) { background: dimgray;}
    #namesTable tr:nth-child(odd) { background: lightgray;}
    #namesTable th { margin-top: 50px; background: royalblue; }
    #namesTable { width: 100%; border-collapse: separate; empty-cells: show; }
    #namesTable tr { /*display:block;*/ min-height:20px; }
    #counterDiv { float: right; padding-bottom: 10px; }
    #counter { float: right; border: none; width: 30px; }